<mat-toolbar color="primary">
  <span>Vigenere Cypher App</span>
</mat-toolbar>

<div class="content">
  <mat-card>
    <mat-card-content>
      <form fxLayout="column" #f=ngForm>
        <div fxLayout="row">
          <mat-form-field
            appearance="outline"
            fxFlex.xs="100%"
            fxFlex="50%">
            <mat-label>Decoded message</mat-label>
            <textarea name="decoded"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      ngModel
                      #decoded="ngModel"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="flex-start flex-start">
          <mat-form-field
            appearance="outline"
            fxFlex.xs="100%"
            fxFlex="30%">
            <mat-label>Password</mat-label>
            <input type="password"
                   name="password"
                   required
                   matInput
                   ngModel
                   appPassword
                   #password="ngModel">
            <mat-hint align="start" *ngIf="password.touched && password.errors?.['required']">Enter your password!
            </mat-hint>
            <mat-hint align="end" *ngIf="password.touched && password.errors?.['password']">Password should contain only
              numbers and letters!
            </mat-hint>
          </mat-form-field>
          <button type="button"
                  class="send-btn"
                  mat-raised-button
                  color="primary"
                  [disabled]="!password.value || !decoded.value || f.invalid"
                  (click)="encodeMessage()">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button type="button"
                  class="send-btn"
                  mat-raised-button
                  color="primary"
                  [disabled]="!password.value || !encoded.value || f.invalid"
                  (click)="decodeMessage()">
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>

        <div fxLayout="row">
          <mat-form-field
            appearance="outline"
            fxFlex.xs="100%"
            fxFlex="50%">
            <mat-label>Encoded message</mat-label>
            <textarea name="encoded"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      ngModel
                      #encoded="ngModel"></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
